<header class="bg-dark text-white ">
  <div class="container" style="max-width: 1150px">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/products"
          ><img
            style="width: 50px; height: 50px"
            src="/img/magazin-256.png"
            alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products">All Products</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Categories
              </a>
              <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-macos">
                <li><a class="dropdown-item" href="/products?category=men">Men</a></li>
                <li><a class="dropdown-item" href="/products?category=women">Women</a></li>
                <li><a class="dropdown-item" href="/products?category=kids">Kids</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products">Accessories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products/new">Sell Product</a>
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>

          <div class="d-flex m-2">
            <% if(!currentUser) {%>
            <a href="/login">
              <button type="button" class="btn btn-outline-light me-2">
                Login
              </button></a
            >
            <a href="/register">
              <button type="button" class="btn btn-warning">Sign-up</button>
            </a>
            <% } else {%>
            <a class="nav-link" href="/logout">Logout</a>
            <% } %>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
