<% layout('layouts/boilerplate') %>

    <div class="container ">
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Product</h5>
                    <div class="row">
                        <div class="col-md-6">
                        <img src="" alt="">
                        </div>
    
                        <div class="col-md-6">
                            <form action="">
                                <label for="">Product</label>
                                <input type="text">
                                <div class="mb-3">
                                    <label for="" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="" placeholder="">
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>