<% layout('layouts/boilerplate') %>

<div class="container mb-3">
  <div class="d-flex justify-content-center">
    <div class="card" style="width: 25rem">
      <div class="card-body">
        <h5 class="card-title">New Product</h5>

        <form
          action="/products"
          method="POST"
          novalidate
          class="validated-form"
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <label for="name" class="form-label">Product Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Name"
              name="product[name]"
              required
            />
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <div class="input-group">
              <span class="input-group-text">&#8377;</span>
              <input
                type="number"
                class="form-control"
                aria-label="Amount"
                name="product[price]"
                required
              />
            </div>
          </div>
          

          <div class="mb-3">
            <label for="size" class="form-label">Size</label>
            <textarea
              class="form-control"
              id="size"
              cols="30"
              rows="2"
              name="product[size]"
              required
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="wash" class="form-label">Wash</label>
            <textarea
              class="form-control"
              id="wash"
              cols="30"
              rows="2"
              name="product[wash]"
              required
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="colour" class="form-label">Colour</label>
            <textarea
              class="form-control"
              id="colour"
              cols="30"
              rows="1"
              name="product[colour]"
              required
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="material" class="form-label">Material</label>
            <textarea
              class="form-control"
              id="material"
              cols="30"
              rows="1"
              name="product[material]"
              required
            ></textarea>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea
              class="form-control"
              id="description"
              cols="30"
              rows="5"
              name="product[description]"
              required
            ></textarea>
          </div>

          <div class="mb-3">
            <label for="image" class="form-label">Choose image(s)...</label>
            <input
              class="form-control"
              type="file"
              id="image"
              name="image"
              multiple
            />
          </div>

          <button class="btn btn-success">Submit</button>
        </form>

        <div class="my-3">
          <a class="btn btn-secondary" href="/products">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>
